body {
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #000C1A;
}

img {
    width: 9.25rem;
    height: 2.5rem;
    display: block;
}

@media screen and (max-width: 959.98px) {
    img {
        width: 5.56rem;
        height: 1.5rem;
    }
  }

.content_card {
    background: rgb(11,20,58);
    background: linear-gradient(124deg, rgba(11,20,58,1) 0%, rgba(24,19,51,1) 47%, rgba(63,15,32,1) 54%);
}  

.accordion-button {
    background-color: #233461;
}

.accordion-body {
    background-color: #142243;
}

